<div class="jumbotron">
  <h1>About</h1>
  <div class="row">
    <div class="col-xs-5">
      We're revolutionizing the way you eat breakfast. How? With an app that lets you call a toaster any time you need it. With PivotToaster, hot, crunchy toast is right at your fingertips. Worried about tipping your toaster delivery man? Don't worry; that's included in your order.
    </div>
    <div class="col-xs-5">
      Est fingerstache shabby chic roof party skateboard iPhone, ennui jean shorts beard Truffaut dreamcatcher chillwave health goth. Aliquip aesthetic 8-bit, placeat meh pop-up Blue Bottle non YOLO gluten-free magna mollit tattooed.
    </div>
  </div>
</div>


<div class="row">
  <h1>Meet the PivotToaster team!</h1>
</div>

<div class="row text-center">
  <div class="col-xs-3">
    <img src="<%= image_path('domo_toaster.jpg') %>" alt="hello there" class='img-responsive img-circle'>
    <h2>Andrew</h2>
    <p>Veniam nulla retro tempor. Normcore next level whatever gastropub aliquip trust fund chia cardigan, eiusmod Schlitz bespoke photo booth PBR&B drinking vinegar retro. Kickstarter Shoreditch banjo literally brunch vero. Whatever cornhole scenester tattooed Tumblr retro mlkshk fanny pack Brooklyn.</p>
  </div>
  <div class="col-xs-3">
    <img src="<%= image_path('domo_toaster.jpg') %>" alt="hello there" class='img-responsive img-circle'>
    <h2>Andrew</h2>
    <p>Aesthetic keytar small batch distillery wolf asymmetrical, skateboard hashtag. Actually Bushwick shabby chic DIY, Neutra narwhal try-hard banjo gastropub viral fugiat Austin put a bird on it delectus sunt. Quinoa hella pour-over, before they sold out Marfa eiusmod exercitation hoodie sunt kale chips.</p>
  </div>
  <div class="col-xs-3">
    <img src="<%= image_path('domo_toaster.jpg') %>" alt="hello there" class='img-responsive img-circle'>
    <h2>Andrew</h2>
    <p>Pickled nesciunt Bushwick, accusamus mixtape sustainable disrupt High Life do Echo Park. You probably haven't heard of them velit Thundercats ea, iPhone cillum eiusmod 90's plaid enim. Dreamcatcher Tonx eu quinoa, Truffaut crucifix polaroid id messenger bag. Tonx plaid PBR&B, +1 fashion axe ad hoodie pork belly meh direct trade drinking vinegar occaecat raw denim duis.</p>
  </div>
  <div class="col-xs-3">
    <img src="<%= image_path('domo_toaster.jpg') %>" alt="hello there" class='img-responsive img-circle'>
    <h2>Andrew</h2>
    <p>Pinterest Cosby sweater dolore culpa Wes Anderson. IPhone eu Etsy, delectus Banksy art party 8-bit fixie Brooklyn lo-fi. Blue Bottle kitsch DIY direct trade viral. Mlkshk do small batch nisi, dreamcatcher excepteur pork belly. Biodiesel messenger bag chambray, proident PBR&B aliquip synth. Minim pariatur cliche nesciunt Banksy 8-bit selvage, ad Williamsburg.</p>
  </div>
</div>