
<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Contact Us</h1>

    <form role="form">
      <div class="form-group">
        <label for="contact[name]">Your Name</label>
        <input name="contact[name]" class="form-control">
      </div>

      <div class="form-group">
        <label for="contact_email">Your Email</label>
        <input name="contact[email" class="form-control">
      </div>

      <div class="form-group">
        <label for="contact_message">Message</label>
        <textarea name="contact[message]" class="form-control"></textarea>
      </div>

      <input type="button" class="btn btn-primary" value="Contact Us!">
    </form>
  </div>

  <div class="col-xs-4">
    <h1>Staff</h1>
    <table class="table table-striped">
      <tr>
        <td>Name</td>
        <td>Title</td>
        <td>Phone Number</td>
      </tr>

      <tr>
        <td>Name</td>
        <td>Title</td>
        <td>Phone Number</td>
      </tr>

      <tr>
        <td>Name</td>
        <td>Title</td>
        <td>Phone Number</td>
      </tr>

      <tr>
        <td>Name</td>
        <td>Title</td>
        <td>Phone Number</td>
      </tr>
    </table>
  </div>
</div>